// config
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@600;700&family=Roboto:wght@400;700&display=swap');
@import './config/_variables.scss';
@import './config/_reset.scss';

// Components
@import './components/header.scss';
@import './components/footer.scss';
@import './components/video.scss';
@import './components/shared.scss';
@import './components/forms.scss';
@import './components/social-login.scss';
@import './components/video-player.scss';
@import './components/message.scss';
@import './components/search.scss';

//Screens
@import './screens/search.scss';
@import './screens/profile.scss';
@import './screens/edit-profile.scss';
@import './screens/home.scss';
@import './screens/upload.scss';
@import './screens/watch.scss';
@import './screens/read.scss';

// Defaults
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $blue;
  }
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: $bg;
  color: $lightblue;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 50px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.bodyContainer {
  max-width: 1250px;
  width: 100vw;
}
