.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__owner-container {
    display: flex;
    align-items: center;
    border: 1px solid $blue;
    div.avatar-default-mini {
      margin-right: 5px;
    }
    .video__button {
      background-color: $blue;
      border: none;
      font-family: inherit;
      padding: 10px;
      border-radius: 20px;
      margin-left: 10px;
      font-weight: bold;
      color: $bg;
      &:hover {
        background-color: $bluehover;
      }
    }
  }
  .video__title {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 0.9rem;
  }
  .video__owner {
    font-size: 1rem;
    a {
      color: $blue;
      font-weight: bold;
      &:hover {
        color: $bluehover;
      }
    }
  }
  .video__description {
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(176, 220, 251);
    width: 100%;
    p {
      margin-top: 15px;
    }
  }
}

.video__add-comments {
  #videoCommentForm {
    font-size: 1rem;
    font-family: inherit;
    textarea {
      min-height: 10px;
      font-family: inherit;
      width: 100%;
    }
  }
}
