extends base
include mixins/video

block content
    div.video-grid 
        each videoUnit in videos
            +video(videoUnit)
            +video(videoUnit)
            +video(videoUnit)  
            +video(videoUnit)
        else 
            span.empty_message No videos found. 