extends base
include mixins/video

block content
    main.main-with-form
        form(method="GET").search__form
            input(placeholder="Search by Title", name="keyword", type="text")
            button
                i.fas.fa-search

        div.video-grid
            if videos 
                h2 Results
                each video in videos
                    +video(video)
            else
                if (!keyword)
                    span Please enter a keyword!
                else
                    span.empty__message Sorry, nothing found with that search query.