extends base
include mixins/video

block content
    main.main-with-form.main-with-search-form
        if (!keyword)
            span.empty__message Please enter a keyword!
        form(method="GET").search__form
            input(placeholder="Search by Title", name="keyword", type="text")
            button
                i.fas.fa-search

        if videos 
            h2 Results
            section.video-grid
                each video in videos
                    +video(video)
        else
            if (keyword)
                span.empty__message Sorry, nothing found with that search query.