extends base

block content 
    h4 Upload Video
    if error 
        span=error
    form(method="POST")
        input(name="title", type="text" placeholder="Video Title" required)
        input(name="description", type="text", required, placeholder="Description")
        input(placeholder="Hashtags (separated by comma)", type="text", required, name="hashtags")
        input(type="file" title="file")
        input(value="upload video" type="submit")
