extends ../base

block content 
    main
        h1 Update Post
        form(method="POST")
            input(name="title", placeholder="Post Title" value=post.title, required)
            textarea(name="text", type="text", required, placeholder="Description")=post.text
            input(value="Save" type="submit")