extends ../base

block content
    main.main-with-form
        if errorMessage 
            h3=errorMessage
        form(method="POST")
            input(type="password" required name="oldPw" placeholder="Old Password")
            input(type="password" required name="newPw" placeholder="New Password" )
            input(type="password" required, name="confirmPw" placeholder="Confirm New Password")
            input(type="submit" value="Change Password")